@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loading-items {
    @apply rounded-xl bg-gray-600 opacity-20;
  }

  /* LOADING TEXT */
  .loading {
    @apply p-0 text-2xl font-extralight;
    animation: loading-text 2s infinite;
    transform: translateY(-5px);
  }

  .box {
    animation: anime-banner-fade-in 0.7s ease-out forwards;
  }

  @keyframes anime-banner-fade-in {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}
