@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loading {
    @apply p-0 text-2xl font-extralight;
    animation: loading-text 2s infinite;
    transform: translateY(-5px);
  }

  @keyframes loading-text {
    0% {
      transform: translateY(-5px);
    }

    50% {
      transform: translateY(5px);
    }

    100% {
      transform: translateY(-5px);
    }
  }
}