<div class="flex w-full flex-col gap-14 lg:flex-row 2xl:gap-14">
  <div class="w-full">
    <!-- SEARCH BOX -->
    <div class="relative mb-8 mt-5 w-full">
      <search-box
        type="review"
        placeholderText="Search for the anime"
      ></search-box>
    </div>

    <!-- REVIEWS -->
    <div
      class="flex w-full flex-col gap-12 pt-[46px]"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="loadMoreReviews()"
    >
      <!-- NO RESULTS FOUND -->
      <div
        *ngIf="searchValue !== '' && displayReviews?.length === 0"
        id="no-results-found"
        class="w-full text-center"
      >
        <p class="text-lg">No results found...</p>
      </div>

      <!-- LOADING -->
      <div
        *ngIf="searchValue === '' && displayReviews.length === 0"
        id="loading-screen"
        class="flex w-full flex-col items-center justify-center gap-20"
      >
        <div class="flex w-full animate-pulse flex-col">
          <div class="loading-items mb-2 h-[10px] w-[33%]"></div>
          <div class="mb-4 flex flex-col gap-2">
            <div class="loading-items h-4 w-full"></div>
            <div class="loading-items h-4 w-[66%]"></div>
          </div>
          <div
            class="loading-items mb-4 aspect-video h-[320px] max-h-48 w-full sm:max-h-72 md:h-[400px] md:max-h-full lg:h-[300px]"
          ></div>
          <div class="flex flex-col gap-2">
            <div class="loading-items h-3 w-full"></div>
            <div class="loading-items h-3 w-[90%]"></div>
            <div class="loading-items h-3 w-[45%]"></div>
          </div>
        </div>

        <div class="flex w-full animate-pulse flex-col">
          <div class="loading-items mb-2 h-[10px] w-[33%]"></div>
          <div class="mb-4 flex flex-col gap-2">
            <div class="loading-items h-4 w-full"></div>
            <div class="loading-items h-4 w-[66%]"></div>
          </div>
          <div
            class="loading-items mb-4 aspect-video h-[320px] max-h-48 w-full sm:max-h-72 md:h-[400px] md:max-h-full lg:h-[300px]"
          ></div>
          <div class="flex flex-col gap-2">
            <div class="loading-items h-3 w-full"></div>
            <div class="loading-items h-3 w-[90%]"></div>
            <div class="loading-items h-3 w-[45%]"></div>
          </div>
        </div>

        <div class="flex w-full animate-pulse flex-col">
          <div class="loading-items mb-2 h-[10px] w-[33%]"></div>
          <div class="mb-4 flex flex-col gap-2">
            <div class="loading-items h-4 w-full"></div>
            <div class="loading-items h-4 w-[66%]"></div>
          </div>
          <div
            class="loading-items mb-4 aspect-video h-[320px] max-h-48 w-full sm:max-h-72 md:h-[400px] md:max-h-full lg:h-[300px]"
          ></div>
          <div class="flex flex-col gap-2">
            <div class="loading-items h-3 w-full"></div>
            <div class="loading-items h-3 w-[90%]"></div>
            <div class="loading-items h-3 w-[45%]"></div>
          </div>
        </div>
      </div>

      <!-- LOOP TO DISPLAY REVIEWS BANNER -->
      <ng-container *ngIf="displayReviews?.length != 0">
        <div
          *ngFor="let review of displayReviews"
          class="box group flex cursor-pointer flex-col gap-4"
          (click)="navigateTo(review.id)"
        >
          <!-- REVIEW HEADER -->
          <div>
            <!-- REVIEW DATE -->
            <p class="text-sm text-neutral-600 group-hover:text-neutral-500">
              {{ review.reviewDate }}
            </p>

            <!-- REVIEW TITLE -->
            <div class="flex items-end gap-4">
              <h1
                class="text-2xl font-bold text-neutral-200 group-hover:text-orange-400"
              >
                {{ review.name }}
              </h1>

              <!-- REVIEW TAG -->
              <span
                *ngIf="review.id === this.allReviews[0].id"
                class="group-hover:text-rose-600; block h-full rounded-lg bg-rose-500 bg-opacity-15 px-2 py-[5px] text-sm font-semibold text-rose-500 group-hover:bg-rose-500 group-hover:bg-opacity-20"
              >
                NEW REVIEW
              </span>
            </div>
          </div>

          <!-- REVIEW IMG -->
          <div class="overflow-hidden rounded-xl">
            <img
              src="/review_banner/{{ review.id }}.jpg"
              alt="Image of {{ review.name }}"
              class="w-full scale-125 transition-transform duration-500 group-hover:scale-100"
            />
          </div>

          <!-- REVIEW INTRO -->
          <p
            class="font-extralight leading-7 text-neutral-300 group-hover:text-neutral-100"
          >
            {{ review.intro }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- LINK MENU -->
  <div class="hidden w-full md:max-w-80 lg:block xl:max-w-96">
    <link-menu></link-menu>
  </div>
</div>
