<div class="flex w-full flex-col gap-14 lg:flex-row 2xl:gap-14">
  <div class="w-full">
    <!-- SEARCH BOX -->
    <div class="relative mb-8 mt-5 w-full">
      <search-box
        type="review"
        placeholderText="Search for the anime"
      ></search-box>
    </div>

    <!-- REVIEWS -->
    <div class="flex w-full flex-col gap-12">
      <!-- NO ANIMES FOUND -->
      <div *ngIf="displayReviews?.length === 0" class="w-full text-center">
        <p class="text-lg">No results found...</p>
      </div>

      <!-- LOOP TO DISPLAY REVIEWS BANNER -->
      <ng-container *ngIf="displayReviews != null; else loadingScreen">
        <div
          *ngFor="let review of displayReviews"
          class="box group flex cursor-pointer flex-col gap-4"
          (click)="navigateTo(review.id)"
        >
          <!-- REVIEW HEADER -->
          <div>
            <!-- REVIEW DATE -->
            <p class="text-sm text-neutral-600 group-hover:text-neutral-500">
              {{ review.reviewDate }}
            </p>

            <div class="flex items-end gap-4">
              <!-- REVIEW TITLE -->
              <h1
                class="text-2xl font-bold text-neutral-200 group-hover:text-orange-400"
              >
                {{ review.name }}
              </h1>

              <!-- REVIEW TAG -->
              <span
                *ngIf="review.id === this.allReviews[0].id"
                class="group-hover:text-rose-600; block h-full rounded-lg bg-rose-500 bg-opacity-15 px-2 py-[5px] text-sm font-semibold text-rose-500 group-hover:bg-rose-500 group-hover:bg-opacity-20"
              >
                NEW REVIEW
              </span>
            </div>
          </div>

          <!-- REVIEW IMG -->
          <div class="overflow-hidden rounded-xl">
            <img
              src="/review_banner/{{ review.id }}.jpg"
              alt="Image of {{ review.name }}"
              class="w-full scale-125 transition-transform duration-500 group-hover:scale-100"
            />
          </div>

          <!-- REVIEW INTRO -->
          <p
            class="font-extralight leading-7 text-neutral-300 group-hover:text-neutral-100"
          >
            {{ review.intro }}
          </p>
        </div>
      </ng-container>

      <!-- LOADING TEMPLATE -->
      <ng-template #loadingScreen>
        <div class="mt-16 flex w-full items-center justify-center gap-3">
          <!-- LOADING ICON -->
          <div
            class="h-8 w-8 animate-spin rounded-full border-4 border-neutral-700 border-t-purple-700"
          ></div>
          <!-- ANIMATION LOADING TEXT -->
          <div class="flex select-none gap-[1px]" aria-hidden="true">
            <p id="loading_1" class="loading">L</p>
            <p id="loading_2" class="loading">o</p>
            <p id="loading_3" class="loading">a</p>
            <p id="loading_4" class="loading">d</p>
            <p id="loading_5" class="loading">i</p>
            <p id="loading_6" class="loading">n</p>
            <p id="loading_7" class="loading">g&nbsp;</p>
            <p id="loading_8" class="loading">c</p>
            <p id="loading_9" class="loading">o</p>
            <p id="loading_10" class="loading">n</p>
            <p id="loading_11" class="loading">t</p>
            <p id="loading_12" class="loading">e</p>
            <p id="loading_13" class="loading">n</p>
            <p id="loading_14" class="loading">t</p>
            <p id="loading_15" class="loading">.</p>
            <p id="loading_16" class="loading">.</p>
            <p id="loading_17" class="loading">.</p>
          </div>
          <!-- LOADING MESSAGE FOR SCREEN READER -->
          <span class="sr-only">Loading content...</span>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- LINK MENU -->
  <div class="hidden w-full md:max-w-80 lg:block xl:max-w-96">
    <link-menu></link-menu>
  </div>
</div>
