@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter-item {
    @apply cursor-pointer select-none rounded-md border border-solid border-[#222222] p-2 text-xs font-light duration-200 hover:scale-110;
  }

  p.disabled-filter {
    @apply cursor-not-allowed bg-transparent text-neutral-600 hover:scale-100 hover:bg-transparent;
  }

  .opening-enabled {
    @apply bg-[#0f2209];
  }

  .ending-enabled {
    @apply bg-[#2b0b31];
  }

  .ost-enabled {
    @apply bg-[#122141];
  }

  .svg-box {
    @apply flex h-[34px] w-[38px] cursor-pointer items-center justify-center rounded-sm px-1 duration-200;
  }

  .svg-list-option {
    @apply fill-neutral-600 stroke-neutral-600 duration-200 hover:scale-110;
  }

  div.disabled-filter,
  div.disabled-filter svg {
    @apply bg-transparent fill-neutral-800 stroke-neutral-800 hover:scale-100;
  }

  .list-block-filter-enabled {
    @apply bg-neutral-800 bg-opacity-50;
  }

  .music-box {
    @apply flex flex-col gap-4;
  }

  /* Title */
  .title-box {
    @apply flex items-center gap-6;
  }

  .title {
    @apply text-2xl text-neutral-200;
  }

  /* Line */
  .line {
    @apply h-[1px] flex-grow bg-neutral-800;
  }

  .music-box-2 {
    @apply first:rounded-t-lg last:rounded-b-lg odd:bg-[#1d1d1d] even:bg-[#222222];
    animation: genre-fade-in 0.4s forwards ease-out;
  }

  /* Music card */
  .music {
    @apply flex cursor-pointer flex-col gap-[6px] px-5 py-4 duration-100 hover:bg-neutral-900 sm:gap-0;
    animation: genre-fade-in 0.1s forwards ease-out;
  }

  /* Music animation */
  @keyframes genre-fade-in {
    0% {
      opacity: 0;
      transform: scale(0.75);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Music info */
  .name-anime-box {
    @apply flex gap-2;
  }

  .name {
    @apply text-lg text-neutral-300 group-hover:text-orange-400;
  }

  .anime {
    @apply font-light text-stone-500 group-hover:text-gray-500;
  }

  .author {
    @apply font-light text-neutral-500 group-hover:text-gray-400;
  }

  /* Button Show More */
  .btn-show-more {
    @apply flex w-full items-center justify-end gap-2 rounded-b-lg bg-[#2e2e2e] px-5 py-2 text-sm;
    animation: genre-fade-in 0.1s forwards;
  }

  /* SVG Icon */
  .arrow-down {
    @apply w-7 fill-neutral-600;
  }
}
