<div class="flex w-full flex-col gap-14 md:flex-row md:gap-6 2xl:gap-14">
  <div class="w-full">
    <!-- SEARCH BOX -->
    <div class="relative mb-[38px] mt-5 flex h-fit w-full flex-col gap-3">
      <search-box
        type="music"
        placeholderText="Search for the anime"
      ></search-box>

      <!-- MUSICS FILTERS -->
      <div class="flex h-full items-center justify-between transition-colors">
        <!-- MUSICS TYPES -->
        <div class="flex gap-1 sm:gap-3">
          <!-- OPENING FILTER -->
          <p
            [ngClass]="{
              'disabled-filter': searchedMusic === '' || this.listEnabled,
              'opening-enabled': openingEnabled,
            }"
            class="filter-item text-[#3f9624]"
            (click)="editMusicTypeSearch('opening')"
          >
            OPENING
          </p>

          <!-- ENDING FILTER -->
          <p
            [ngClass]="{
              'disabled-filter': searchedMusic === '' || this.listEnabled,
              'ending-enabled': endingEnabled,
            }"
            class="filter-item text-[#c264da]"
            (click)="editMusicTypeSearch('ending')"
          >
            ENDING
          </p>

          <!-- OST FILTER -->
          <p
            [ngClass]="{
              'disabled-filter': searchedMusic === '' || this.listEnabled,
              'ost-enabled': ostEnabled,
            }"
            class="filter-item text-[#5180ff]"
            (click)="editMusicTypeSearch('originalSoundtrack')"
          >
            OST
          </p>
        </div>

        <!-- SINGLE LIST OR MULITPLE LISTS -->
        <div class="flex h-full items-center gap-1">
          <div
            class="svg-box"
            [ngClass]="{
              'disabled-filter': searchedMusic === '',
              'list-block-filter-enabled': listEnabled,
            }"
            (click)="editDisplayStyle()"
          >
            <svg
              class="svg-list-option w-7"
              viewBox="-0.5 0 25 25"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M6.54504 12.5H21.705"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M6.54504 6.5H21.705"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M6.54504 18.5H21.705"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M3.29504 7.5C3.84733 7.5 4.29504 7.05228 4.29504 6.5C4.29504 5.94772 3.84733 5.5 3.29504 5.5C2.74276 5.5 2.29504 5.94772 2.29504 6.5C2.29504 7.05228 2.74276 7.5 3.29504 7.5Z"
                ></path>
                <path
                  d="M3.29504 13.5C3.84733 13.5 4.29504 13.0523 4.29504 12.5C4.29504 11.9477 3.84733 11.5 3.29504 11.5C2.74276 11.5 2.29504 11.9477 2.29504 12.5C2.29504 13.0523 2.74276 13.5 3.29504 13.5Z"
                ></path>
                <path
                  d="M3.29504 19.5C3.84733 19.5 4.29504 19.0523 4.29504 18.5C4.29504 17.9477 3.84733 17.5 3.29504 17.5C2.74276 17.5 2.29504 17.9477 2.29504 18.5C2.29504 19.0523 2.74276 19.5 3.29504 19.5Z"
                ></path>
              </g>
            </svg>
          </div>

          <div
            class="svg-box"
            [ngClass]="{
              'disabled-filter': searchedMusic === '',
              'list-block-filter-enabled': blockEnabled,
            }"
            (click)="editDisplayStyle()"
          >
            <svg
              class="svg-list-option w-6"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 470.1 470.1"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M461.971,113.804h-58.249V50.125c0-4.487-3.633-8.129-8.129-8.129H8.129 C3.642,41.996,0,45.638,0,50.125v298.042c0,4.495,3.642,8.129,8.129,8.129h58.249v63.679c0,4.495,3.642,8.129,8.129,8.129h387.465 c4.495,0,8.129-3.633,8.129-8.129V121.933C470.1,117.438,466.458,113.804,461.971,113.804z M16.257,340.039V58.253h371.208v55.551 H74.515c-4.487,0-8.129,3.642-8.129,8.129v218.106H16.257z M453.843,411.846H82.635v-63.679V130.061h312.95h58.249v281.785H453.843 z"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- MUSICS -->
    <div class="flex w-full flex-col gap-20">
      <!-- NO ANIMES FOUND -->
      <div
        *ngIf="
          displayMusicsOps.length === 0 &&
          displayMusicsEds.length === 0 &&
          displayMusicsOsts.length === 0 &&
          allMusics.length === 0
        "
        class="w-full text-center"
      >
        <p class="text-lg">No results found...</p>
      </div>

      <!-- ALL MUSICS (LIST) -->
      <div *ngIf="allMusics.length != 0 && this.listEnabled" class="music-box">
        <!-- TITLE -->
        <div class="title-box">
          <h1 class="title">List of results</h1>
          <h6 class="line"></h6>
        </div>
        <div>
          <!-- LOOP TO DISPLAY MUSICS -->
          <div
            *ngFor="
              let music of allMusics | slice: 0 : allMusicsLoaded;
              let last = last
            "
            class="music-box-2"
          >
            <div
              class="music group"
              (click)="navigateToMusicPage(music.name, music.author)"
            >
              <!-- MUSICS INFO -->
              <div class="name-anime-box">
                <h1 class="name">{{ music.name }}</h1>
                <h3 class="anime hidden sm:block">({{ music.anime }})</h3>
              </div>
              <h3 class="anime block sm:hidden">from {{ music.anime }}</h3>
              <h2 class="author">by {{ music.author }}</h2>
            </div>

            <!-- SHOW MORE BUTTON -->
            <button
              *ngIf="last && allMusicsLoaded < allMusics.length"
              (click)="showMore('all')"
              class="btn-show-more"
            >
              Show more musics!

              <svg
                class="arrow-down"
                viewBox="0 0 18 18"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M13.708 6.29A1.006 1.006 0 0 0 13 6H5.005A1 1 0 0 0 4.3 7.71l4 4a1.013 1.013 0 0 0 1.42 0l4-4a1.01 1.01 0 0 0-.013-1.42z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- OPENINGS -->
      <div *ngIf="displayMusicsOps.length != 0" class="music-box">
        <!-- TITLE -->
        <div class="title-box">
          <h1 class="title">Openings</h1>
          <h6 class="line"></h6>
        </div>
        <div>
          <!-- LOOP TO DISPLAY MUSICS -->
          <div
            *ngFor="
              let music of displayMusicsOps | slice: 0 : musicsOpsLoaded;
              let last = last
            "
            class="music-box-2"
          >
            <div
              class="music group"
              (click)="navigateToMusicPage(music.name, music.author)"
            >
              <!-- MUSICS INFO -->
              <div class="name-anime-box">
                <h1 class="name">{{ music.name }}</h1>
                <h3 class="anime hidden sm:block">({{ music.anime }})</h3>
              </div>
              <h3 class="anime block sm:hidden">from {{ music.anime }}</h3>
              <h2 class="author">by {{ music.author }}</h2>
            </div>

            <!-- SHOW MORE BUTTON -->
            <button
              *ngIf="last && musicsOpsLoaded < displayMusicsOps.length"
              (click)="showMore('op')"
              class="btn-show-more"
            >
              Show more OP's

              <svg
                class="arrow-down"
                viewBox="0 0 18 18"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M13.708 6.29A1.006 1.006 0 0 0 13 6H5.005A1 1 0 0 0 4.3 7.71l4 4a1.013 1.013 0 0 0 1.42 0l4-4a1.01 1.01 0 0 0-.013-1.42z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- ENDINGS -->
      <div *ngIf="displayMusicsEds.length != 0" class="music-box">
        <!-- TITLE -->
        <div class="title-box">
          <h1 class="title">Endings</h1>
          <h6 class="line"></h6>
        </div>
        <div>
          <!-- LOOP TO DISPLAY MUSICS -->
          <div
            *ngFor="
              let music of displayMusicsEds | slice: 0 : musicsEdsLoaded;
              let last = last
            "
            class="music-box-2"
          >
            <div
              class="music group"
              (click)="navigateToMusicPage(music.name, music.author)"
            >
              <!-- MUSICS INFO -->
              <div class="name-anime-box">
                <h1 class="name">{{ music.name }}</h1>
                <h3 class="anime hidden sm:block">({{ music.anime }})</h3>
              </div>
              <h3 class="anime block sm:hidden">from {{ music.anime }}</h3>
              <h2 class="author">by {{ music.author }}</h2>
            </div>

            <!-- SHOW MORE BUTTON -->
            <button
              *ngIf="last && musicsEdsLoaded < displayMusicsEds.length"
              (click)="showMore('ed')"
              class="btn-show-more"
            >
              Show more ED's

              <svg
                class="arrow-down"
                viewBox="0 0 18 18"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M13.708 6.29A1.006 1.006 0 0 0 13 6H5.005A1 1 0 0 0 4.3 7.71l4 4a1.013 1.013 0 0 0 1.42 0l4-4a1.01 1.01 0 0 0-.013-1.42z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- ORIGINAL SOUNDTRACKS (OST) -->
      <div *ngIf="displayMusicsOsts.length != 0" class="music-box">
        <!-- TITLE -->
        <div class="title-box">
          <h1 class="title">Original Soundtracks</h1>
          <h6 class="line"></h6>
        </div>
        <div>
          <!-- LOOP TO DISPLAY MUSICS -->
          <div
            *ngFor="
              let music of displayMusicsOsts | slice: 0 : musicsOstsLoaded;
              let last = last
            "
            class="music-box-2"
          >
            <div
              class="music group"
              (click)="navigateToMusicPage(music.name, music.author)"
            >
              <!-- MUSICS INFO -->
              <div class="name-anime-box">
                <h1 class="name">{{ music.name }}</h1>
                <h3 class="anime hidden sm:block">({{ music.anime }})</h3>
              </div>
              <h3 class="anime block sm:hidden">from {{ music.anime }}</h3>
              <h2 class="author">by {{ music.author }}</h2>
            </div>

            <!-- SHOW MORE BUTTON -->
            <button
              *ngIf="last && musicsOstsLoaded < displayMusicsOsts.length"
              (click)="showMore('ost')"
              class="btn-show-more"
            >
              Show more OST's

              <svg
                class="arrow-down"
                viewBox="0 0 18 18"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M13.708 6.29A1.006 1.006 0 0 0 13 6H5.005A1 1 0 0 0 4.3 7.71l4 4a1.013 1.013 0 0 0 1.42 0l4-4a1.01 1.01 0 0 0-.013-1.42z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LINK MENU -->
  <div class="hidden w-full md:max-w-80 lg:block xl:max-w-96">
    <link-menu
      [idRedactor]="'tooltip-redactor'"
      [idPodcasts]="'tooltip-podcasts'"
      [idLinks]="'tooltip-links'"
      [idFlowcharts]="'tooltip-flowcharts'"
      [positionRedactor]="'center'"
      [positionPodcasts]="'center'"
      [positionLinks]="'center'"
      [positionFlowcharts]="'center'"
    ></link-menu>
  </div>
</div>
