<div class="flex w-full flex-col gap-14 md:flex-row md:gap-6 2xl:gap-14">
  <div class="w-full">
    <!-- SEARCH BOX -->
    <div class="relative mb-8 mt-5 w-full">
      <search-box
        type="music"
        placeholderText="Search for the anime"
      ></search-box>
    </div>

    <!-- MUSICS -->
    <div class="flex w-full flex-col gap-20">
      <!-- NO ANIMES FOUND -->
      <div
        *ngIf="
          displayMusicsOps.length === 0 &&
          displayMusicsEds.length === 0 &&
          displayMusicsOsts.length === 0
        "
        class="w-full text-center"
      >
        <p class="text-lg">No results found...</p>
      </div>

      <!-- OPENINGS -->
      <div *ngIf="displayMusicsOps.length != 0" class="music-box mt-[30px]">
        <!-- TITLE -->
        <div class="title-box">
          <h1 class="title">Openings</h1>
          <h6 class="line"></h6>
        </div>
        <div>
          <!-- LOOP TO DISPLAY MUSICS -->
          <div
            *ngFor="
              let music of displayMusicsOps | slice: 0 : musicsOpsLoaded;
              let last = last
            "
            class="music-box-2"
          >
            <div
              class="music group"
              (click)="navigateToMusicPage(music.name, music.author)"
            >
              <!-- MUSICS INFO -->
              <div class="name-anime-box">
                <h1 class="name">{{ music.name }}</h1>
                <h3 class="anime">({{ music.anime }})</h3>
              </div>
              <h2 class="author">by {{ music.author }}</h2>
            </div>

            <!-- SHOW MORE BUTTON -->
            <button
              *ngIf="last && musicsOpsLoaded < displayMusicsOps.length"
              (click)="showMore('op')"
              class="btn-show-more"
            >
              Show more OP's

              <svg
                class="arrow-down"
                viewBox="0 0 18 18"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M13.708 6.29A1.006 1.006 0 0 0 13 6H5.005A1 1 0 0 0 4.3 7.71l4 4a1.013 1.013 0 0 0 1.42 0l4-4a1.01 1.01 0 0 0-.013-1.42z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- ENDINGS -->
      <div *ngIf="displayMusicsEds.length != 0" class="music-box">
        <!-- TITLE -->
        <div class="title-box">
          <h1 class="title">Endings</h1>
          <h6 class="line"></h6>
        </div>
        <div>
          <!-- LOOP TO DISPLAY MUSICS -->
          <div
            *ngFor="
              let music of displayMusicsEds | slice: 0 : musicsEdsLoaded;
              let last = last
            "
            class="music-box-2"
          >
            <div
              class="music group"
              (click)="navigateToMusicPage(music.name, music.author)"
            >
              <!-- MUSICS INFO -->
              <div class="name-anime-box">
                <h1 class="name">{{ music.name }}</h1>
                <h3 class="anime">({{ music.anime }})</h3>
              </div>
              <h2 class="author">by {{ music.author }}</h2>
            </div>

            <!-- SHOW MORE BUTTON -->
            <button
              *ngIf="last && musicsEdsLoaded < displayMusicsEds.length"
              (click)="showMore('ed')"
              class="btn-show-more"
            >
              Show more ED's

              <svg
                class="arrow-down"
                viewBox="0 0 18 18"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M13.708 6.29A1.006 1.006 0 0 0 13 6H5.005A1 1 0 0 0 4.3 7.71l4 4a1.013 1.013 0 0 0 1.42 0l4-4a1.01 1.01 0 0 0-.013-1.42z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- ORIGINAL SOUNDTRACKS (OST) -->
      <div *ngIf="displayMusicsOsts.length != 0" class="music-box">
        <!-- TITLE -->
        <div class="title-box">
          <h1 class="title">Original Soundtracks</h1>
          <h6 class="line"></h6>
        </div>
        <div>
          <!-- LOOP TO DISPLAY MUSICS -->
          <div
            *ngFor="
              let music of displayMusicsOsts | slice: 0 : musicsOstsLoaded;
              let last = last
            "
            class="music-box-2"
          >
            <div
              class="music group"
              (click)="navigateToMusicPage(music.name, music.author)"
            >
              <!-- MUSICS INFO -->
              <div class="name-anime-box">
                <h1 class="name">{{ music.name }}</h1>
                <h3 class="anime">({{ music.anime }})</h3>
              </div>
              <h2 class="author">by {{ music.author }}</h2>
            </div>

            <!-- SHOW MORE BUTTON -->
            <button
              *ngIf="last && musicsOstsLoaded < displayMusicsOsts.length"
              (click)="showMore('ost')"
              class="btn-show-more"
            >
              Show more OST's

              <svg
                class="arrow-down"
                viewBox="0 0 18 18"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M13.708 6.29A1.006 1.006 0 0 0 13 6H5.005A1 1 0 0 0 4.3 7.71l4 4a1.013 1.013 0 0 0 1.42 0l4-4a1.01 1.01 0 0 0-.013-1.42z"
                  ></path>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LINK MENU -->
  <div class="w-full md:max-w-80 xl:max-w-96">
    <link-menu></link-menu>
  </div>
</div>
