<!-- MAGNIFIER -->
<svg
  [ngClass]="isSearchFocused ? 'fill-neutral-400' : 'fill-neutral-700'"
  class="absolute left-0 top-[5px] w-8 cursor-pointer duration-500"
  (click)="focusSearchBox()"
  enable-background="new 0 0 100 100"
  id="Layer_1"
  version="1.1"
  viewBox="0 0 100 100"
  xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <path
    clip-rule="evenodd"
    d="M64.5,44.6c0-11.6-9.4-20.9-20.9-20.9c-11.6,0-20.9,9.4-20.9,20.9  c0,11.6,9.4,20.9,20.9,20.9C55.1,65.6,64.5,56.2,64.5,44.6z M80,79.3l-1.8,1.8l-19-19c-4.2,3.7-9.6,6-15.7,6  c-13,0-23.5-10.5-23.5-23.5c0-13,10.5-23.5,23.5-23.5c13,0,23.5,10.5,23.5,23.5c0,6-2.3,11.5-6,15.7L80,79.3z"
    fill-rule="evenodd"
  />
</svg>

<!-- SEARCH BOX -->
<input
  type="text"
  id="search-box"
  class="w-full border-b border-b-neutral-800 bg-transparent pb-2 pl-10 pr-9 pt-2 font-light text-neutral-500 outline-none duration-300 placeholder:text-neutral-700 focus:border-b-neutral-500 focus:text-neutral-200 focus:placeholder:text-neutral-600 sm:pb-1 sm:text-lg"
  placeholder="{{placeholderText}}"
  [(ngModel)]="searchValue"
  (ngModelChange)="searchValueDebounce.next('')"
  (focus)="isSearchFocused = true"
  (focusout)="isSearchFocused = false"
/>

<!-- CTRL K -->
<div class="invisible absolute right-9 top-[6px] flex gap-1 lg:visible">
  <kbd
    [ngClass]="{ 'opacity-0': searchValue }"
    class="rounded-md border border-neutral-600 px-2 py-[2px] font-lexend text-sm duration-300"
    >Ctrl</kbd
  >
  <kbd
    [ngClass]="{ 'opacity-0': searchValue }"
    class="rounded-md border border-neutral-600 px-2 py-[2px] font-lexend text-sm duration-300"
    >K</kbd
  >
</div>

<!-- 'X' SVG TO DELETE -->
<svg
  [ngClass]="isSearchFocused ? 'fill-neutral-400' : 'fill-neutral-700'"
  class="absolute right-1 top-2 w-6 cursor-pointer duration-500 hover:fill-pink-800"
  (click)="cleanSearchBox()"
  viewBox="-3.5 0 19 19"
>
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g
    id="SVGRepo_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></g>
  <g id="SVGRepo_iconCarrier">
    <path
      d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z"
    ></path>
  </g>
</svg>
