<div class="w-full">
  <div class="relative xl:h-72">
    <img src="/banner.png" alt="" class="h-52 w-full object-cover xl:h-full" />
  </div>

  <div
    class="m-auto flex w-full flex-col justify-center gap-14 p-6 sm:px-12 lg:px-20 xl:flex-row"
  >
    <div class="w-full md:m-auto md:max-w-2xl xl:m-0 xl:max-w-sm 2xl:max-w-md">
      <user-menu></user-menu>
    </div>
    <div class="flex w-full max-w-5xl flex-col gap-12 pt-10">
      <div>
        <nav-menu></nav-menu>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
