@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .svg-theme {
    animation: add-theme .3s forwards;
  }

  @keyframes add-theme {
    from {
      transform: translateY(-50px);
    }

    to {
      transform: translateY(0px);
    }
  }

  .remove-theme {
    animation: remove-theme .3s forwards;
  }

  @keyframes remove-theme {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(50px);
    }
  }
}