@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :host ::ng-deep h1 {
    @apply text-2xl font-bold pb-2 text-[#c7c7c7];
  }

  :host ::ng-deep p {
    @apply font-light leading-8 text-[#cccccc] pb-3;
  }

  :host ::ng-deep em{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
  }

  :host ::ng-deep img{
    width: 30px;
  }

  :host ::ng-deep h6{
    width: 30%;
    height: 1px;
    background-color: #303030;
  }
}
