@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Menu items style */
  .button-menu {
    @apply relative px-4 py-2 text-sm text-neutral-200 hover:text-main focus:text-main;
  }

  /* Colorized rectangle */
  .button-menu::after {
    @apply absolute left-0 top-4 block rotate-90 rounded-full px-4 py-2 text-transparent transition-all content-[attr(data-title)];
    transform: rotateX(88deg);
    z-index: -1;
  }

  /* Color of each rectangle (which will show on hover) */
  .button-menu:nth-child(1)::after {
    background-color: #ac1648;
  }

  .button-menu:nth-child(2)::after {
    background-color: #cc880b;
  }

  .button-menu:nth-child(3)::after {
    background-color: #008697;
  }

  /* Color of rectangle on focus */
  .menu-box .active-page::after{
    background-color: var(--active-menu-bg-color);
    transform: rotateX(0deg);
    @apply top-0
  }


  /* Show rectangle on Hover/Focus */
  .button-menu:hover::after,
  .button-menu:focus::after {
    @apply top-0;
    transform: rotateX(0deg);
  }

  /* Show dot */
  .button-menu::before {
    content: '';
    @apply absolute -bottom-4 left-0 h-2 w-2 rounded-full bg-main opacity-0;
    transition: 0.5s;
  }

  .button-menu:hover::before {
    @apply opacity-100;
  }

  #button-menu-reviews:hover::before {
    transform: var(--var-move-dot);
  }

  #button-menu-favorites:hover::before {
    transform: var(--var-move-dot);
  }

  #button-menu-musics:hover::before {
    transform: var(--var-move-dot);
  }

  .button-menu:nth-child(1):hover::before {
    background-color: #cf3d6e;
  }

  .button-menu:nth-child(2):hover::before {
    background-color: #e4a42d;
  }

  .button-menu:nth-child(3):hover::before {
    background-color: #14afc4;
  }
}