@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Menu items style */
  .button-menu {
    @apply relative px-4 py-2 text-sm text-neutral-300 hover:text-main focus:text-main;
  }

  /* Colorized rectangle */
  .button-menu::after {
    @apply absolute left-0 top-4 block rotate-90 rounded-full px-4 py-2 text-transparent transition-all content-[attr(data-title)];
    transform: rotateX(88deg);
    z-index: -1;
  }

  /* Color of each rectangle (which will show on hover) */
  .button-menu:nth-child(1)::after {
    background-color: #ac1648;
  }

  .button-menu:nth-child(2)::after {
    background-color: #cc880b;
  }

  .button-menu:nth-child(3)::after {
    background-color: #008697;
  }

  /* Color of each rectangle on focus */
  .button-menu:nth-child(1):focus::after {
    background-color: #cf3d6e;
  }

  .button-menu:nth-child(2):focus::after {
    background-color: #e4a42d;
  }

  .button-menu:nth-child(3):focus::after {
    background-color: #14afc4;
  }

  /* Show rectangle on Hover/Focus */
  .button-menu:hover::after,
  .button-menu:focus::after {
    @apply top-0;
    transform: rotateX(0deg);
  }

  .dot {
    @apply absolute -bottom-4 h-2 w-2 rounded-full bg-slate-200 opacity-0;
    transition: .5s;
  }

  .button-menu:hover ~ .dot{
    @apply opacity-100;
  }

  .button-menu:nth-child(1):hover ~ .dot{
    background-color: #cf3d6e;
    transform: translateX(40px);
  }

  .button-menu:nth-child(2):hover ~ .dot{
    background-color: #e4a42d;
    transform: translateX(150px);
  }

  .button-menu:nth-child(3):hover ~ .dot{
    background-color: #14afc4;
    transform: translateX(255px);
  }
}
