@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  /* Nav Menu style */
  .nav-menu{
    display: flex;
    gap: 15px;
  }

  /* Button style */
  .nav-menu button{
    padding: 7px 14px;
    position: relative;
    @apply text-sm;
    @apply text-neutral-300;
  }

  /* Color of text on Hover/Focus */
  .nav-menu button:hover, .nav-menu button:focus{
    color: theme('colors.main');
  }

  /* Colorized rectangle */
  .nav-menu button::after {
    content: attr(data-title);
    position: absolute;
    display: block;
    left: 0;
    top: 8px;
    transform: rotateX(-90deg);
    @apply rounded-full;
    padding: 7px 14px;
    color: transparent;
    transition: all 200ms ease-out;
    z-index: -1;
  }

  /* Color of each rectangle (which will show on hover) */
  .nav-menu button:nth-child(1)::after {
    background-color: #ac1648;
  }

  .nav-menu button:nth-child(2)::after {
    background-color: #cc880b;
  }

  .nav-menu button:nth-child(3)::after {
    background-color: #008697;
  }

  /* Color of each rectangle on focus */
  .nav-menu button:nth-child(1):focus::after {
    background-color: #cf3d6e;
  }

  .nav-menu button:nth-child(2):focus::after {
    background-color: #e4a42d;
  }

  .nav-menu button:nth-child(3):focus::after {
    background-color: #14afc4;
  }

  /* Show rectangle on Hover/Focus */
  .nav-menu button:hover::after, .nav-menu button:focus::after{
    top: 0;
    transform: rotateX(0deg);
  }
}