<div>
  <nav class="relative flex gap-0 md:gap-6">
    <!-- REVIEWS -->
    <button
      data-title="REVIEWS"
      class="button-menu"
      id="button-menu-reviews"
      (mouseenter)="calcCenterDot($event.target)"
    >
      REVIEWS
    </button>

    <!-- FAVORITES -->
    <button
      data-title="FAVORITES"
      class="button-menu"
      id="button-menu-favorites"
      (mouseenter)="calcCenterDot($event.target)"
    >
      FAVORITES
    </button>

    <!-- MUSICS -->
    <button
      data-title="MUSICS"
      class="button-menu"
      id="button-menu-musics"
      (mouseenter)="calcCenterDot($event.target)"
    >
      MUSICS
    </button>

    <!-- COLORIZED DOT -->
    <div class="dot"></div>
  </nav>
</div>
