<div class="flex w-full flex-col gap-14 md:flex-row md:gap-6 2xl:gap-14">
  <div class="flex w-full flex-col gap-24">
    <!-- FAVORITES TV SERIES -->
    <div class="fav-box mt-[42px]">
      <!-- TITLE -->
      <div class="title-box">
        <h6 class="line"></h6>
        <h1 class="title" [style.color]="borderLightColor[0]">TV SERIES</h1>
        <h6 class="line"></h6>
      </div>
      <!-- IMGS -->
      <div
        *ngIf="favoriteTvs$ | async as favoriteTvs"
        id="tvs-fav-item-box"
        class="fav-item"
        (mousemove)="onMouseMove($event, 'tvs-fav-item-box')"
      >
        <!-- LOOP TO DISPLAY THE IMAGES -->
        <div
          *ngFor="let favTv of favoriteTvs"
          class="content-box"
          [style.--border-light-color]="borderLightColor[0]"
          (click)="navigateToAnimePage(favTv.url)"
        >
          <div class="img-box">
            <img
              src="/fav_card/tvs/{{ favTv.id }}.jpg"
              alt="{{ favTv.id }}"
              class="img"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- FAVORITES FILMS -->
    <div class="fav-box">
      <!-- TITLE -->
      <div class="title-box">
        <h6 class="line"></h6>
        <h1 class="title" [style.color]="borderLightColor[1]">FILMS</h1>
        <h6 class="line"></h6>
      </div>
      <!-- IMGS -->
      <div
        *ngIf="favoriteFilms$ | async as favoriteFilms"
        id="films-fav-item-box"
        class="fav-item"
        (mousemove)="onMouseMove($event, 'films-fav-item-box')"
      >
        <!-- LOOP TO DISPLAY THE IMAGES -->
        <div
          *ngFor="let favFilm of favoriteFilms"
          class="content-box"
          [style.--border-light-color]="borderLightColor[1]"
          (click)="navigateToAnimePage(favFilm.url)"
        >
          <div class="img-box">
            <img
              src="/fav_card/films/{{ favFilm.id }}.jpg"
              alt="{{ favFilm.id }}"
              class="img"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- FAVORITES CHARACTERS -->
    <div class="fav-box">
      <!-- TITLE -->
      <div class="title-box">
        <h6 class="line"></h6>
        <h1 class="title text-[rgb(30,135,214)]">CHARACTERS</h1>
        <h6 class="line"></h6>
      </div>
      <div class="flex flex-col gap-6">
        <!-- IMGS -->
        <div
          *ngIf="favoriteCharsMale$ | async as favoriteCharsMale"
          id="chars-male-fav-item-box"
          class="fav-item"
          (mousemove)="onMouseMove($event, 'chars-male-fav-item-box')"
        >
          <!-- LOOP TO DISPLAY THE IMAGES -->
          <div
            *ngFor="let favCharMale of favoriteCharsMale"
            class="content-box"
            [style.--border-light-color]="borderLightColor[2]"
            (click)="navigateToAnimePage(favCharMale.url)"
          >
            <div class="img-box">
              <img
                src="/fav_card/chars_male/{{ favCharMale.id }}.jpg"
                alt="{{ favCharMale.id }}"
                class="img"
              />
            </div>
          </div>
        </div>

        <!-- IMGS -->
        <div
          *ngIf="favoriteCharsFemale$ | async as favoriteCharsFemale"
          id="char-female-fav-item-box"
          class="fav-item"
          (mousemove)="onMouseMove($event, 'char-female-fav-item-box')"
        >
          <!-- LOOP TO DISPLAY THE IMAGES -->
          <div
            *ngFor="let favCharFemale of favoriteCharsFemale"
            class="content-box"
            [style.--border-light-color]="borderLightColor[3]"
            (click)="navigateToAnimePage(favCharFemale.url)"
          >
            <div class="img-box">
              <img
                src="/fav_card/chars_female/{{ favCharFemale.id }}.jpg"
                alt="{{ favCharFemale.id }}"
                class="img"
              />
            </div>
          </div>
        </div>

        <!-- IMGS -->
        <div
          *ngIf="favoriteCharsNoIdea$ | async as favoriteCharsNoIdea"
          id="chars-no-idea-fav-item-box"
          class="fav-item"
          (mousemove)="onMouseMove($event, 'chars-no-idea-fav-item-box')"
        >
          <!-- LOOP TO DISPLAY THE IMAGES -->
          <div
            *ngFor="let favCharNoIdea of favoriteCharsNoIdea"
            class="content-box"
            [style.--border-light-color]="borderLightColor[4]"
            (click)="navigateToAnimePage(favCharNoIdea.url)"
          >
            <div class="img-box">
              <img
                src="/fav_card/chars_no_idea/{{ favCharNoIdea.id }}.jpg"
                alt="{{ favCharNoIdea.id }}"
                class="img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FAVORITES SEIYUUS -->
    <div class="fav-box">
      <!-- TITLE -->
      <div class="title-box">
        <h6 class="line"></h6>
        <h1 class="title text-[rgb(167,90,255)]">SEIYUUS</h1>
        <h6 class="line"></h6>
      </div>
      <div class="flex flex-col gap-6">
        <!-- IMGS -->
        <div
          *ngIf="favoriteSeiyuusFemale$ | async as favoriteSeiyuusFemale"
          id="seiyuus-female-fav-item-box"
          class="fav-item"
          (mousemove)="onMouseMove($event, 'seiyuus-female-fav-item-box')"
        >
          <!-- LOOP TO DISPLAY THE IMAGES -->
          <div
            *ngFor="let favSeiyuuFemale of favoriteSeiyuusFemale"
            class="content-box"
            [style.--border-light-color]="borderLightColor[6]"
            (click)="navigateToAnimePage(favSeiyuuFemale.url)"
          >
            <div class="content">
              <div class="img-box">
                <img
                  src="/fav_card/seiyuus_female/{{ favSeiyuuFemale.id }}.jpg"
                  alt="{{ favSeiyuuFemale.id }}"
                  class="img"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- IMGS -->
        <div
          *ngIf="favoriteSeiyuusMale$ | async as favoriteSeiyuusMale"
          id="seiyuus-male-fav-item-box"
          class="fav-item"
          (mousemove)="onMouseMove($event, 'seiyuus-male-fav-item-box')"
        >
          <!-- LOOP TO DISPLAY THE IMAGES -->
          <div
            *ngFor="let favSeiyuuMale of favoriteSeiyuusMale"
            class="content-box"
            [style.--border-light-color]="borderLightColor[5]"
            (click)="navigateToAnimePage(favSeiyuuMale.url)"
          >
            <div class="content">
              <div class="img-box">
                <img
                  src="/fav_card/seiyuus_male/{{ favSeiyuuMale.id }}.jpg"
                  alt="{{ favSeiyuuMale.id }}"
                  class="img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FAVORITES STUDIOS -->
    <div class="fav-box">
      <!-- TITLE -->
      <div class="title-box">
        <h6 class="line"></h6>
        <h1 class="title text-[rgb(39,182,46)]">STUDIOS</h1>
        <h6 class="line"></h6>
      </div>
      <!-- IMGS -->
      <div
        *ngIf="favoriteStudios$ | async as favoriteStudios"
        id="studios-fav-item-box"
        class="fav-item"
        (mousemove)="onMouseMove($event, 'studios-fav-item-box')"
      >
        <!-- LOOP TO DISPLAY THE IMAGES -->
        <div
          *ngFor="let favStudio of favoriteStudios"
          class="content-box"
          [style.--border-light-color]="borderLightColor[7]"
          (click)="navigateToAnimePage(favStudio.url)"
        >
          <div class="content">
            <div class="img-box">
              <img
                src="/fav_card/studios/{{ favStudio.id }}.jpg"
                alt="{{ favStudio.id }}"
                class="img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LINK MENU -->
  <div class="hidden w-full md:max-w-80 lg:block xl:max-w-96">
    <link-menu></link-menu>
  </div>
</div>
