@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Table style */
  tr {
    @apply flex items-start;
  }

  th {
    @apply w-2/5 font-light;
  }

  td {
    @apply flex w-3/5 text-neutral-300;
  }
}

@layer components {
  /* Rates metrics */
  .rate-box {
    @apply select-none font-facultyGlyphic opacity-100;
  }

  .masterPiece {
    @apply text-[#8363da];
  }

  .legendary {
    @apply text-[#4787d4];
  }

  .epic {
    @apply text-[#109c99];
  }

  .veryGood {
    @apply text-[#0ca05d];
  }

  .good {
    @apply text-[#099f22];
  }

  .ok {
    @apply text-[#8ab000];
  }

  .meeh {
    @apply text-[#e2b700];
  }

  .bad {
    @apply text-[#cc7900];
  }

  .weak {
    @apply text-[#fd6435];
  }

  .awful {
    @apply text-[#ff0000];
  }

  /* Seasons metrics */
  .winter {
    @apply text-[#68c9f0];
  }

  .spring {
    @apply text-[#ff8bdc];
  }

  .summer {
    @apply text-[#81d83a];
  }

  .fall {
    @apply text-[#f0a33f];
  }

  /* Star Animation */
  @keyframes star-move {
    0% {
      transform: translateY(0);
    }

    3% {
      transform: translateY(-16px);
    }

    6% {
      transform: translateY(0);
    }

    50% {
    }

    100% {
    }
  }

  .stars {
    animation: star-move 60s infinite;
  }

  /* Genres */
  .genre-box {
    @apply w-fit rounded-md border px-4 py-2 font-light opacity-0;
    animation: genre-fade-in 1s ease-out forwards;
  }

  @keyframes genre-fade-in {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .action {
    @apply border-[#6f9dff] text-[#6f9dff];
  }

  .adventure {
    @apply border-[#8aff66] text-[#8aff66];
  }

  .avantGarde {
    @apply border-[#ceff49] text-[#ceff49];
  }

  .awardWinning {
    @apply border-[#ffd000] text-[#ffd000];
  }

  .boysLove {
    @apply border-[#539dff] text-[#539dff];
  }

  .comedy {
    @apply border-[#ff9d1c] text-[#ff9d1c];
  }

  .drama {
    @apply border-[#ff7272] text-[#ff7272];
  }

  .fantasy {
    @apply border-[#dbdbdb] text-[#dbdbdb];
  }

  .girlsLove {
    @apply border-[#ff72e8] text-[#ff72e8];
  }

  .gourmet {
    @apply border-[#ffa16b] text-[#ffa16b];
  }

  .horror {
    @apply border-[#ff5a5a] text-[#ff5a5a];
  }

  .mystery {
    @apply border-[#a659ff] text-[#a659ff];
  }

  .romance {
    @apply border-[#ff6297] text-[#ff6297];
  }

  .sciFi {
    @apply border-[#d6b2ff] text-[#d6b2ff];
  }

  .slifeOfLife {
    @apply border-[#07c500] text-[#07c500];
  }

  .sports {
    @apply border-[#4bdfb2] text-[#4bdfb2];
  }

  .supernatural {
    @apply border-[#b07eff] text-[#b07eff];
  }

  .suspense {
    @apply border-[#ff684d] text-[#ff684d];
  }

  /* External Links */
  .links-img {
    @apply w-10 rounded-xl opacity-0;
    animation: genre-fade-in 2s ease-out forwards;
  }

  @keyframes logos-fade-in {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Published Text */
  .published {
    @apply h-fit overflow-hidden text-nowrap border-r-[2px] pb-0 pr-[2px] text-sm text-neutral-500 opacity-0;
    animation:
      typing-effect 4s steps(40) forwards 6s,
      blinking-effect 0.5s infinite 6s;
  }

  @keyframes typing-effect {
    0% {
      @apply w-0 opacity-100;
    }

    100% {
      @apply w-full opacity-100;
    }
  }

  @keyframes blinking-effect {
    0% {
      @apply border-r-transparent;
    }

    100% {
      @apply border-r-orange-900;
    }
  }
}
