@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Table style */
  tr {
    @apply flex items-start;
  }

  th {
    @apply w-2/5 font-light;
  }

  td {
    @apply flex w-3/5 dark:text-neutral-300 text-neutral-700;
  }
}

@layer components {

  /* Rates metrics */
  .rate-box {
    @apply select-none font-facultyGlyphic opacity-100;
  }

  .masterPiece {
    @apply text-[#8363da];
  }

  .legendary {
    @apply text-[#4787d4];
  }

  .epic {
    @apply text-[#109c99];
  }

  .veryGood {
    @apply text-[#0ca05d];
  }

  .good {
    @apply text-[#099f22];
  }

  .ok {
    @apply text-[#8ab000];
  }

  .meeh {
    @apply text-[#e2b700];
  }

  .bad {
    @apply text-[#cc7900];
  }

  .weak {
    @apply text-[#fd6435];
  }

  .awful {
    @apply text-[#ff0000];
  }

  /* Seasons metrics */
  .winter {
    @apply dark:text-[#68c9f0] text-[#2c90b8];
  }

  .spring {
    @apply dark:text-[#ff8bdc] text-[#b44392];
  }

  .summer {
    @apply dark:text-[#81d83a] text-[#66b426];
  }

  .fall {
    @apply dark:text-[#f0a33f] text-[#cf8a2e];
  }

  /* Star Animation */
  @keyframes star-move {
    0% {
      transform: translateY(0);
    }

    3% {
      transform: translateY(-16px);
    }

    6% {
      transform: translateY(0);
    }

    50% {}

    100% {}
  }

  .stars {
    animation: star-move 60s infinite;
  }

  /* Genres */
  .genre-box {
    @apply w-fit rounded-md border px-4 py-2 dark:font-light opacity-0;
    animation: genre-fade-in 1s ease-out forwards;
  }

  @keyframes genre-fade-in {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .action {
    @apply dark:border-[#6f9dff] dark:text-[#6f9dff] border-[#4e7bcc] text-[#4e7bcc];
  }

  .adventure {
    @apply dark:border-[#8aff66] dark:text-[#8aff66] border-[#6baa4d] text-[#6baa4d];
  }

  .avantGarde {
    @apply dark:border-[#ceff49] dark:text-[#ceff49] border-[#88af2e] text-[#88af2e];
  }

  .awardWinning {
    @apply dark:border-[#ffd000] dark:text-[#ffd000] border-[#ccad00] text-[#ccad00];
  }

  .boysLove {
    @apply dark:border-[#539dff] dark:text-[#539dff] border-[#417bcc] text-[#417bcc];
  }

  .comedy {
    @apply dark:border-[#ff9d1c] dark:text-[#ff9d1c] border-[#cc7a17] text-[#cc7a17];
  }

  .drama {
    @apply dark:border-[#ff7272] dark:text-[#ff7272] border-[#cc5a5a] text-[#cc5a5a];
  }

  .fantasy {
    @apply dark:border-[#dbdbdb] dark:text-[#dbdbdb] border-[#727272] text-[#727272];
  }

  .girlsLove {
    @apply dark:border-[#ff72e8] dark:text-[#ff72e8] border-[#cc5bb7] text-[#cc5bb7];
  }

  .gourmet {
    @apply dark:border-[#ffa16b] dark:text-[#ffa16b] border-[#cc8156] text-[#cc8156];
  }

  .horror {
    @apply dark:border-[#ff5a5a] dark:text-[#ff5a5a] border-[#cc4646] text-[#cc4646];
  }

  .mystery {
    @apply dark:border-[#a659ff] dark:text-[#a659ff] border-[#8146cc] text-[#8146cc];
  }

  .romance {
    @apply dark:border-[#ff6297] dark:text-[#ff6297] border-[#cc4d75] text-[#cc4d75];
  }

  .sciFi {
    @apply dark:border-[#d6b2ff] dark:text-[#d6b2ff] border-[#9574b6] text-[#9574b6];
  }

  .slifeOfLife {
    @apply dark:border-[#07c500] dark:text-[#07c500] border-[#059d00] text-[#059d00];
  }

  .sports {
    @apply dark:border-[#4bdfb2] dark:text-[#4bdfb2] border-[#3aad8f] text-[#3aad8f];
  }

  .supernatural {
    @apply dark:border-[#b07eff] dark:text-[#b07eff] border-[#8c65cc] text-[#8c65cc];
  }

  .suspense {
    @apply dark:border-[#ff684d] dark:text-[#ff684d] border-[#cc503c] text-[#cc503c];
  }



  /* External Links */
  .links-img {
    @apply w-10 rounded-xl opacity-0;
    animation: genre-fade-in 2s ease-out forwards;
  }

  @keyframes logos-fade-in {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Published Text */
  .published {
    @apply h-fit overflow-hidden text-nowrap border-r-[2px] pb-0 pr-[2px] text-sm text-neutral-500 opacity-0;
    animation:
      typing-effect 4s steps(40) forwards 6s,
      blinking-effect 0.5s infinite 6s;
  }

  @keyframes typing-effect {
    0% {
      @apply w-0 opacity-100;
    }

    100% {
      @apply w-full opacity-100;
    }
  }

  @keyframes blinking-effect {
    0% {
      @apply border-r-transparent;
    }

    100% {
      @apply border-r-orange-900;
    }
  }
}